{
"exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  {% if ansible_os_family == "RedHat" -%}
  "storage-driver": "overlay",
  {% endif -%}
  {% if ansible_os_family != "RedHat" -%}
  "storage-driver": "overlay2",
  {% endif -%}
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}